{% extends "finance/base.html" %} 

{% block title %}Course{% endblock %} 

{% block content%}
<h1 class="text-center">Welcome to the Course</h1>
<h3 class="text-center">Let's learn about finance!</h3>
<div class="grid text-center d-flex flex-row flex-wrap justify-content-around">
  <div class="g-col-6">
    <div class=" m-3 embed-responsive embed-responsive-16by9">
        <p class="text-centwr">Intro</p>
      <iframe
        title="Introduction"
        width="600"
        height="400"
        class="embed-responsive-item"
        src=https://www.youtube.com/embed/watch?v=HdHlfiOAJyE&list=PLUl4u3cNGP63B2lDhyKOsImI7FjCf6eDW&index=1"
        allowfullscreen
      ></iframe>
    </div>
  </div>
  <div class="g-col-6">
    <div class=" m-3 embed-responsive embed-responsive-16by9">
        <p class="text-centwr">vid2</p>
      <iframe
        title="Introduction"
        width="600"
        height="400"
        class="embed-responsive-item"
        src="https://www.youtube.com/embed/watch?v=U03Md5enU-0&list=PLUl4u3cNGP63B2lDhyKOsImI7FjCf6eDW&index=2"
        allowfullscreen
      ></iframe>
    </div>
  </div>

  <div class="g-col-6">
    <div class="m-3 embed-responsive embed-responsive-16by9">
        <p class="text-centwr">vid3</p>
      <iframe
        title="Introduction"
        width="600"
        height="400"
        class="embed-responsive-item"
        src="https://www.youtube.com/embed/watch?v=AtT59jxU9es&list=PLUl4u3cNGP63B2lDhyKOsImI7FjCf6eDW&index=6"
        allowfullscreen
      ></iframe>
    </div>
  </div>
  <div class="g-col-6">
    <div class=" m-3 embed-responsive embed-responsive-16by9">
        <p class="text-centwr">vid4</p>
      <iframe
        title="Introduction"
        width="600"
        height="400"
        class="embed-responsive-item"
        src="https://www.youtube.com/embed/watch?v=hyc8h5T76BE&list=PLUl4u3cNGP63B2lDhyKOsImI7FjCf6eDW&index=4"
        allowfullscreen
      ></iframe>
    </div>
  </div>
</div>

{% endblock %}
