{% extends "finance/base.html" %}

{% block title %}Home{% endblock %}

{% block content%}
      <h1 class="my-3 text-center">Welcome to finance literacy app !</h1>
      <div class="dflex justify-content-center" style="width: 60%">
          <p class="text-center text-wrap">
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Soluta, enim modi aliquam corporis ad repudiandae ducimus magni doloribus quo est perferendis veritatis, in sit architecto repellat quaerat sunt? Dignissimos, tempora. Enim debitis eos veniam minus.
          </p>
      </div>
{% endblock %}